
:root{

    --scale: 2;
    

}

.vt323-regular {
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
  }
  

.mainBox {
    background-color: #cdd4b9;
    border-radius: 10px;
    font-family: "VT323";
    padding: 20px;
    width: calc(var(--scale)*300px);
    height: calc(var(--scale)*300px);
    box-shadow: inset 0px 0px 10px #757969;
    user-select: none;

}

.screen {
    background-color: #2d3031;
    border-radius: 10px;
    color: #4AF626;
    height: 80%;
    padding: 20px;
    box-shadow: inset 0px 0px 10px #96c49e;
    display: flex;
    justify-content: center;
    
    
    
}

.squaresContainer{
    width: 83.333%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0px;
    margin: 0px;
    justify-content: center;
    align-content: center;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
    align-content: center;
    color: black;
    margin: 10px;
    height : 10%;
    font-family: "VT323";
    
}


.clear {
    width: auto;
    height : auto;
    padding: 10px;
    border-radius: 5px;
    border-style: none;
    box-shadow: 0px 0px 5px #000000;
    background-color: #df5959;
    font-size: 24px;
    /* font-weight: bold; */
    font-family: "VT323";
    color: #FFFFFF;
    cursor: pointer;
}

.resolutionSelect {
    background-color: #2d3031;
    border-radius: 5px;
    color: #4AF626;
    min-width: 100px;
    height: auto;
    box-shadow: inset 0px 0px 10px #96c49e;
    margin-left: 20px;
    align-content: center;
    text-align: center; 
}

.setResolution {
    width: auto;
    height : auto;
    padding: 10px;
    border-radius: 5px;
    border-style: none;
    box-shadow: 0px 0px 5px #000000;
    background-color: #797660;
    font-size: 24px;
    /* font-weight: bold; */
    font-family: "VT323";
    color: #FFFFFF;
    cursor: pointer;
    margin-left: 20px;
}



@keyframes blink {
    from { opacity: 1; }
    to { opacity: 0; }
}

@keyframes spread {
    from { width: 0px; }
    to { width: auto; }
}


