
:root{

    --scale: 2;
    

}

.vt323-regular {
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
  }
  

.mainBox {
    background-color: #cdd4b9;
    border-radius: 10px;
    font-family: "VT323";
    padding: 20px;
    width: calc(var(--scale)*300px);
    height: calc(var(--scale)*300px);
    box-shadow: inset 0px 0px 10px #757969;
    

}

.screen {
    background-color: #2d3031;
    border-radius: 10px;
    color: #4AF626;
    height: 80%;
    padding: 20px;
    box-shadow: inset 0px 0px 10px #96c49e;
    display: flex;
    justify-content: center;
    
    
}

.squaresContainer{
    width: 83.333%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0px;
    margin: 0px;
    justify-content: center;
    align-content: center;
    
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: black;
    margin: 10px;
    height : 20%;
}


.commentBoard {
    text-align: center;
    padding: 10px;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    
}



@keyframes blink {
    from { opacity: 1; }
    to { opacity: 0; }
}

@keyframes spread {
    from { width: 0px; }
    to { width: auto; }
}


